<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': blogPost.loveIts > 0,
                'list-group-item-danger': blogPost.loveIts < 0}"
                >
    <h4 [ngStyle]="{color: getColor()}">{{ blogPost.title }}</h4>
    <p><em style="color: grey">{{ blogPost.created_at | date: 'short' }}</em></p>
    <p [ngStyle]="{color: getColor()}">{{ blogPost.content }}</p>
    <button class="btn btn-success" (click)="onLoveCounts(1)">Love it!</button>&nbsp;
    <button class="btn btn-danger" (click)="onLoveCounts(-1)">Don't love it!</button>
</li>
